<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pokemon list</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h3 th:text="#{error.message}">Oups, une erreur s'est produite, veuillez contacter l'administrateur</h3>
    </body>
</html>
