<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fiche Pokemon</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="row col-md-8">
                <div class="col-md-5 item-photo img-responsive">
                    <img style="max-width:100%;" th:src="${pokemon.imageUrl}" src="https://img.pokemondb.net/artwork/bulbasaur.jpg"/>
                </div>
                <div class="col-md-5" style="border:0px solid gray">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 th:text="#{pokemonDetail.table.title}">Pokemon datas</h3></div>
                        <table class="table table-striped">
                            <tbody>
                            <tr><td th:text="#{pokemonDetail.table.name}">Name</td><td th:text="${pokemon.name}">Salameche</td></tr>
                            <tr><td th:text="#{pokemonDetail.table.type}">Type</td><td th:text="${pokemon.pokemonType}">FIRE</td></tr>
                            <tr><td th:text="#{pokemonDetail.table.height}">Height</td><td th:text="|${pokemon.height} m|">0.64 m</td></tr>
                            <tr><td th:text="#{pokemonDetail.table.weight}">Weight</td><td th:text="|${pokemon.weight} lbs|">8.4 lbs</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>